auth_key: "sk_your_auth_key"
default:
    model: "model_id"
    name: "Speaker name"
    speed: 1.1
models:
    # use by adding [Joe] in front of the text
    # or ass the first comment in VTT subtitles
    Joe:
        model: "joe_model_id"
        name: "Joe"
