auth_key: "sk_your_auth_key"
default:
    model: "model_id"
    name: "Speaker name"
    speed: 1.1
# Optional: merge lines if same speaker and gap is below this threshold (in ms)
merge_lines_threshold_ms: 50
models:
    # Optional: add custom speakers
    # https://github.com/dkarlovi/srt11?tab=readme-ov-file#speakers
    Joe:
        model: "joe_model_id"
        name: "Joe"

